model_name: thiomajid/dvae-v0
device: cuda
accelerator: gpu
num_device: -1
precision: 16-mixed
epochs: 100
lr: 2e-5
eta_min: 1e-8
t_max: 10
activation_fn: gelu
ckpt_dir: dvae-v0-artifacts
data:
  dir: ./train-data/
  hf_repo: thiomajid/dvae-v0
  num_workers: 2
  batch_size: 16
h_params:
  input_dim: 3
  conv_out_dim: 32
  conv_out_dim_scale: 2
  latent_dim: 16
  kernel_size: 4
  stride: 2
  padding: 1
  n_conv_block: 5
  img_width: 512
  img_height: 512
