model_name: dvae-v0
model_hf_repo: thiomajid/dvae-v0
img_width: 512
img_height: 512
activation_fn: gelu
ckpt_dir: dvae-v0-artifacts

optim:
  device: cuda
  accelerator: gpu
  num_device: -1
  precision: 16-mixed
  epochs: 200
  lr: 1e-3
  eta_min: 1e-6
  t_max: 100
  kl_eps: 1e-8
  kl_beta: 0.25

data:
  dir: ./train-data/
  hf_repo: thiomajid/dvae-v0
  num_workers: 2
  batch_size: 24
  source: hf

h_params:
  input_dim: 3
  conv_out_dim: 32
  conv_out_dim_scale: 2
  latent_dim: 256
  kernel_size: 8
  stride: 2
  padding: 1
  n_conv_block: 5
  normalize: true
